/oem_btp.iml
/.idea
/target
/product-behaviour-twin-libraries/src/main/resources/test-dataprovider.properties
/product-behaviour-twin-libraries/src/main/resources/dataprovider-bindings.properties
/product-behaviour-twin-libraries/src/main/resources/dataupdater-bindings.properties
/product-behaviour-twin-libraries/src/main/resources/rawdatadb-bindings.properties
/product-oem-hi-app/src/main/resources/templates/tmp_index.html
/oem_btp.ipr
/oem_btp.iws
/.vscode/settings.json
/product-behaviour-twin-libraries/src/main/resources/hidb-bindings.properties
