HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/.idea
/target
/src/main/resources/test-dataprovider.properties
/src/main/resources/dataprovider-bindings.properties
/src/main/resources/dataupdater-bindings.properties
/src/main/resources/rawdatadb-bindings.properties
/src/main/resources/templates/tmp_index.html
/.vscode/settings.json
/src/main/resources/hidb-bindings.properties
/src/main/resources/healthindicatordb-bindings.properties
/src/main/resources/hibackendservice-bindings.properties
/src/main/resources/hifrontend-bindings.properties
/src/main/resources/rulbackendservice-bindings.properties
/src/main/resources/ruldb-bindings.properties
/src/main/resources/oemdatacollector-bindings.properties
/src/main/resources/oempeakloaddashboard-bindings.properties
/src/main/resources/supplierpeakloadservice-bindings.properties
/src/main/resources/peakloaddb-bindings.properties
