server.port=25551
services.dataupdater.endpoint.baseurl=http:/localhost:25552/api/rawdata
services.dataprovider.testdata.file=Catena-X_Vehicle_Health_App\\DigitalTwins_CX_RuL_Testdata_v0.0.2_Spectra.json
services.dataupdater.endpoint.username=${DATAUPDATER_API_USER}
services.dataupdater.endpoint.password=${DATAUPDATER_API_PASS}
services.dataupdater.endpoint.authenticationActivated=true